<h2>Admin Paneli</h2>

<div class="list-group">
    <a href="/Salon" class="list-group-item list-group-item-action">Salon Yönetimi</a>
    <a href="/Calisan" class="list-group-item list-group-item-action">Çalışan Yönetimi</a>
    <a href="/Islem" class="list-group-item list-group-item-action">İşlem Yönetimi</a>
    <a href="/Randevu" class="list-group-item list-group-item-action">Randevu Yönetimi</a>
</div>
