<h1>Randevu Al</h1>
<form>
    <div class="mb-3">
        <label for="adSoyad" class="form-label">Ad ve Soyad</label>
        <input type="text" class="form-control" id="adSoyad" placeholder="Adınızı ve soyadınızı giriniz">
    </div>
    <div class="mb-3">
        <label for="tarih" class="form-label">Randevu Tarihi</label>
        <input type="date" class="form-control" id="tarih">
    </div>
    <button type="submit" class="btn btn-primary">Randevu Al</button>
</form>
